
{{>navVistaPrueba}}

<div>
  {{>sideNavVistaPrueba}}

</div>

  <div id="mainwin">
    <div class="container">
        <div class="row">
            <div class="col">
                
      <div class="row">

        <div id="tabla_{{@index}}"  class="tabla container gy-5 rnd " style="background-color: #fff">
          <div class="row">
            <div class="col-6 col-xl-12">
              <div class="row">
                <div type="hidden" hidden class="col-12 col-xl py-xl-3 tableTitl tableLin rnd" >id</div>
                <div class="col-12 col-xl py-xl-3 tableTitl tableLin rnd descTitlProv fstCap">Descripción</div>
                <div class="col-12 col-xl py-xl-3 tableTitl tableLin rnd">ID</div>
                <div class="col-12 col-xl py-xl-3 tableTitl tableLin rnd">Nombre</div>
                <div class="col-12 col-xl py-xl-3 tableTitl tableLin rnd">Modelo</div>
                <div class="col-12 col-xl py-xl-3 tableTitl tableLin rnd">Numero de serie</div>
                <div class="col-12 col-xl py-xl-3 tableTitl tableLin rnd">Fabricante</div>
                <div class="col-12 col-xl py-xl-3 tableTitl tableLin rnd">Número de certificado</div>
                <div class="col-12 col-xl py-xl-3 tableTitl tableLin rnd">Clasificación</div>
                <div class="col-12 col-xl py-xl-3 tableTitl tableLin rnd">Fecha de calibración</div>
                <div class="col-12 col-xl py-xl-3 tableTitl tableLin rnd">Horas promedio de uso</div>

              </div>
            </div>
                    <div id="bodyEquipo">
                      {{#each tabla}}
            <div class="col-6 col-xl-12 bodyTable clickEvent" id="{{id}}">
              <div class="row tableSep" id="{{@index}}" >
                <div type="hidden" hidden class="col-12 col-xl-1 mt-xl-3 p-xl-2 tableLin" id="id_{{id}}">{{id}}</div>
                <div class="col-12 col-xl mt-xl-3 p-xl-2 tableLin" style="word-wrap: break-word" id="Descripcion_{{id}}">{{Descripcion}}</div>
                <div class="col-12 col-xl mt-xl-3 p-xl-2 tableLin descLin fstCap" id="idInstrumento_{{id}}">{{idInstrumento}}</div>
                <div class="col-12 col-xl mt-xl-3 p-xl-2 tableLin" id="Nombre_{{id}}">{{Nombre}}</div>
                <div class="col-12 col-xl mt-xl-3 p-xl-2 tableLin" id="Modelo_{{id}}">{{Modelo}}</div>
                <div class="col-12 col-xl mt-xl-3 p-xl-2 tableLin" id="nSerie_{{id}}">{{nSerie}}</div>
                <div class="col-12 col-xl mt-xl-3 p-xl-2 tableLin" id="Fabricante_{{id}}">{{Fabricante}}</div>
                <div class="col-12 col-xl mt-xl-3 p-xl-2 tableLin" id="nCertificado_{{id}}">{{nCertificado}}</div>
                <div class="col-12 col-xl mt-xl-3 p-xl-2 tableLin" id="Clasificacion_{{id}}">{{Clasificacion}}</div>
                <div class="col-12 col-xl mt-xl-3 p-xl-2 tableLin" id="fCalibracion_{{id}}">{{date}}</div>
                <div class="col-12 col-xl mt-xl-3 p-xl-2 tableLin" id="hPromedio_{{id}}">{{hPromedio}}</div>
               
                {{!-- <div class="col-12 col-xl mt-xl-3 p-xl-2 tableLin tableCbx" style="padding: 0.2rem 0"><button type="button" id="{{@index}}" class="btn btn-ekide btn-sm btnTableSave" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Guardar</button></div> --}}
              </div>
            </div>
        {{/each}}
                    </div>
          </div>
        </div>

      </div>     

            </div>
        </div>
    </div>
  </div>



    <div class="text-right position-relative">
      <div class="position-relative bottom-0 end-0">
        <img src="/assets/add40.png" style="margin-right: 9%; margin-top:2%;" width="40" height="40" id="imgadd" alt="" data-bs-toggle="modal" data-bs-target="#addEquipo">
      </div>
    </div>

    <div class="modal fade" id="addEquipo" tabindex="-1" aria-labelledby="addEquipoLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addEquipoLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="input-group has-validation">
            <span class="input-group-text" id="inputGroupPrepend">Nombre</span>
            <input type="text"   class="form-control" value="" id="Nombre" aria-describedby="inputGroupPrepend" required>
          </div>
          <br>
          <div class="input-group has-validation">
            <span class="input-group-text" id="inputGroupPrepend">Descripción</span>
            <input type="text"   class="form-control" value="" id="Descripcion" aria-describedby="inputGroupPrepend" required>
          </div>
          <br>
          {{!-- <div class="input-group has-validation">
            <span class="input-group-text" id="inputGroupPrepend">ID</span>
            <input type="text"   class="form-control" value="" id="idInstrumento" aria-describedby="inputGroupPrepend" required>
          </div>
          <br> --}}
          <div class="input-group has-validation">
            <span class="input-group-text" id="inputGroupPrepend">Modelo</span>
            <input type="text"   class="form-control" value="" id="Modelo" aria-describedby="inputGroupPrepend" required>
          </div>
          <br>
          <div class="input-group has-validation">
            <span class="input-group-text" id="inputGroupPrepend">Numero de serie</span>
            <input type="text"   class="form-control" value="" id="nSerie" aria-describedby="inputGroupPrepend" required>
          </div>
          <br>
          <div class="input-group has-validation">
            <span class="input-group-text" id="inputGroupPrepend">Fabricante</span>
            <input type="text"   class="form-control" value="" id="Fabricante" aria-describedby="inputGroupPrepend" required>
          </div>
          <br>
          <div class="input-group has-validation">
            <span class="input-group-text" id="inputGroupPrepend">Número de certificado</span>
            <input type="text"   class="form-control" value="" id="nCertificado" aria-describedby="inputGroupPrepend" required>
          </div>
          <br>
          <div class="input-group has-validation">
            <span class="input-group-text" id="inputGroupPrepend">Clasificación</span>
            <input type="text"   class="form-control" value="" id="Clasificacion" aria-describedby="inputGroupPrepend" required>
          </div>
          <br>
          <div class="input-group has-validation">
            <span class="input-group-text" id="inputGroupPrepend">Fecha de calibración</span>
            <input type="date"   class="form-control" value="" id="fCalibracion" aria-describedby="inputGroupPrepend" required>
          </div>
          <br>
          <div class="input-group has-validation">
            <span class="input-group-text" id="inputGroupPrepend">Horas promedio de uso</span>
            <input type="text"   class="form-control" placeholder="HH:MM" value="" id="hPromedio" aria-describedby="inputGroupPrepend" required>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" id="agregarEquipo">Agregar</button>
      </div>
    </div>
  </div>
</div>

<script src="/js/VistaPrueba/TableEquipos.js"></script>
