{{>navVistaPrueba}}
  <style>
    @font-face {
    font-family: 'Gotham-Bold';
    src:url('../../fonts/Gotham-Bold.otf');
}
.fontTitle{
    font-family: "Gotham-Bold";
}
.containerLeft{
  /*background: #F1F1F1 !important;*/
  margin:auto;
width:100%;
padding:5%;
background-color:white;
  border: solid;
border-color:#f1f1f0;
box-shadow:0px 0px 20px 5px #f1f1f1;
margin-top: 2%;
}
.containerRight{
  /*background: #F1F1F1 !important;*/
  margin:auto;
width:50%;
padding:1%;
background-color:white;
  border: solid;
border-color:#f1f1f0;
margin-top: 2%;
margin-right: 50%;
left: 50%; !important
}
  </style>
  <div>
    		{{>sideNavVistaPrueba}}
    <div>
      <meta name="viewport" content="width=device-width, initial-scale=1">
    </div>
    <div id="mainwin">
      <div class="container-fluid">
        <div class="row">
          <div class="col-4">
            <br>
            <div class="containerLeft">
              <br>
              <span class="border">
                <div id="treeView fontTitle" class="treeViewBody">
                  <div class="title-font snd-title text-center" style="font-weight: bolder;">Contenido</div>
                  <div class="row">
                    <div class="col text-right">
                      <a style="margin-right: 10px;" id="addFile" data-toggle="modal" data-target="#newFile"  data-toggle="tooltip" data-placement="top" title="Agregar archivo"><img src="/assets/new-document.png" width="25" height="25" alt=""></a> 
                      <a style="margin-right: 20px;"  id="addTask" data-toggle="modal" data-target="#newTask" data-toggle="tooltip" data-placement="top" title="Agregar tarea"><img src="/assets/new-task.png" width="25" height="25" alt=""></a>
                    </div>
                  </div>
                  <div id="collapseDVR3" class="panel-collapse collapseTree in">
                    <div class="tree ">
                      <ul>

                        {{#each root}}
                          <li>
                            <span><i class="fa fa-plus-square" style="margin-right: 5px;"><img
                                src="/assets/folder.png" class="{{position}}" width="20" height="20" alt="logo" style="margin-left: 5px;"></i>{{position}}-{{dirName}}</span>
                                <ul>
                                  {{#each file}}
                                    <li>
                                        <span> <img src="/assets/docs.png"  class="files" width="20" height="20"
                                          alt="logo">{{fileName}}</span>
                                    </li>
                                  {{/each}}
                                  {{#each dir}}
                                    <li>
                                      <span><i class="fa fa-plus-square" style="margin-right: 5px;"><img
                                          src="/assets/folder.png" class="{{position}}" width="20" height="20" alt="logo" style="margin-left: 5px;"></i>{{position}}-{{dirName}}</span>
                                        <ul>
                                          {{#each file}}
                                            <li>
                                                <span> <img src="/assets/docs.png" class="files" width="20" height="20"
                                                  alt="logo">{{fileName}}</span>
                                            </li>
                                          {{/each}}    
                                          {{#each dir}}
                                            <li>
                                              <span><i class="fa fa-plus-square" style="margin-right: 5px;"><img
                                                  src="/assets/folder.png" class="{{position}}" width="20" height="20" alt="logo" style="margin-left: 5px;"></i>{{position}}-{{dirName}}</span>
                                                <ul>
                                                  {{#each file}}
                                                    <li>
                                                        <span> <img src="/assets/docs.png" class="files" width="20" height="20"
                                                          alt="logo">{{fileName}}</span>
                                                    </li>
                                                  {{/each}}          
                                                  {{#each dir}}
                                                    <li>
                                                      <span><i class="fa fa-plus-square" style="margin-right: 5px;"><img
                                                          src="/assets/folder.png" class="{{position}}" width="20" height="20" alt="logo" style="margin-left: 5px;"></i>{{position}}-{{dirName}}</span>
                                                        <ul>
                                                          {{#each file}}
                                                            <li>
                                                                <span> <img src="/assets/docs.png" class="files" width="20" height="20"
                                                                  alt="logo">{{fileName}}</span>
                                                            </li> 
                                                          {{/each}}       
                                                          {{#each dir}}
                                                              <li>
                                                                <span><i class="fa fa-plus-square" style="margin-right: 5px;"><img
                                                                    src="/assets/folder.png" class="{{position}}" width="20" height="20" alt="logo" style="margin-left: 5px;"></i>{{position}}-{{dirName}}</span>
                                                                  <ul>
                                                                    {{#each file}}
                                                                      <li>
                                                                          <span> <img src="/assets/docs.png" class="files" width="20" height="20"
                                                                            alt="logo">{{fileName}}</span>
                                                                      </li>
                                                                    {{/each}}                                            
                                                                  </ul>
                                                              </li>
                                                            {{/each}}                                      
                                                        </ul>
                                                    </li>
                                                  {{/each}}                                  
                                                </ul>
                                            </li>
                                          {{/each}}                                        
                                        </ul>
                                    </li>
                                  {{/each}}
                                </ul>
                          </li>                        
                        <h1></h1>
                        {{/each}}
                      </ul>
                    </div>
                  </div>

                </div>
              </span>
            </div>
          </div>
          <div class="col-8 col-sm-6">
            <div class="container-fluid text-right">
              <div class="row">
                <div class="col-12" style="position: fixed;">
                  <div class="containerRight">
                    <iframe src="" id="PDFViewer" frameborder="0"></iframe>
                    {{!-- <img src="/assets/imagen1.png" width="280" alt="logo"> --}}
                    {{!-- <embed src="/pdf/certificaciones/MESS-CC-PRP-0125-2021.pdf" width="800px" height="800px" /> --}}
                  </div>
                </div>
                {{!-- <div class="col">
                  <div class="containerLeft">
                    <img src="/assets/imagen2.png" width="600" alt="logo">

                  </div> --}}
                </div>
              </div>
            </div>
            <br>

          </div>
        </div>
      </div>
    </div>
  </div>

<div class="modal fade" id="newFile" tabindex="-1" role="dialog" aria-labelledby="newFileLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newFileLabel">Agregar archivo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="input-group has-validation">
          <span class="input-group-text" id="inputGroupPrepend">Ubicación a agregar</span>
          <input type="text" readonly  class="form-control" value="" id="ubicaiconFile" aria-describedby="inputGroupPrepend" required>
        </div>
        <br>
        <br>
        <form id="fileAdd" enctype="multipart/form-data">
          <input class="form-control col-12" name="file" type="file" id="formFile">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        <button type="button" id="" class="btn btn-primary btnAddFile" data-dismiss="modal">Agregar archivo</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="newTask" tabindex="-1" role="dialog" aria-labelledby="newTaskLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newTaskLabel">Agregar tarea</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="input-group has-validation">
          <span class="input-group-text" id="inputGroupPrepend">Ubicación a agregar</span>
          <input type="text" readonly  class="form-control" value="" id="ubicacionTask" aria-describedby="inputGroupPrepend" required>
        </div>
        <br>
                  <div class="input-group has-validation">
          <span class="input-group-text" id="inputGroupPrepend">Nombre de la tarea</span>
          <input type="text"   class="form-control" value="" id="nameTask" aria-describedby="inputGroupPrepend" required>
        </div>
        <br>
                  <div class="input-group has-validation">
          <span class="input-group-text" id="inputGroupPrepend">Fecha de realización</span>
          <input type="date"   class="form-control" value="" id="dateTask" aria-describedby="inputGroupPrepend" required>
        </div>
        <br>
         <form id="taskAdd" enctype="multipart/form-data">
          <input class="form-control col-12" name="task" type="file" id="formFile">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary btnAddTask" data-dismiss="modal">Agregar tarea</button>
      </div>
    </div>
  </div>
</div>





<script src="/js/treeView.js"></script>
<script src="/js/VistaPrueba/createFiles.js"></script>
<script src="/js/VistaPrueba/createTask.js"></script>
{{!-- <a href="https://www.flaticon.com/free-icons/add-folder" title="add folder icons">Add folder icons created by kmg design - Flaticon</a> --}}
  <footer class="footer1">
    <style>
      .orange{
          background-color: #FE891A;
          margin: 0px !important ;
          color: white;
      }
    </style>
    <div class="container-fluid orange text-right footer">
        <p>Soft Oil/SGM V 2.1.1 /2022 Todos los derechos reservados</p>
    </div>
  </footer>
