
{{>navVistaPrueba}}
	<div>
		<div>
			<meta name="viewport" content="width=device-width, initial-scale=1">
		</div>

		{{>sideNavVistaPrueba}}
		<div class="container-fluid" id="mainwin">
			<div class="row">
				
				<div class="col-xl-7 gy-5">
					<div class="row">
						<div class="container container-title rnd" style="background-color: #fff;">
							<div class="title-font fst-title">Tareas en retraso</div>
							<div style="padding: 20px;">
								<div class="container-fluid">
								{{#each retraso}}
									<div class="row">
								 		<p class="col-4 retraso">{{proveedor.proveedor}}</p><a class="card-content-gen ml-xl-6 col-5" href="/VistaPrueba/tabla/{{proveedor.proveedor}}"> {{Fecha}}</a> <p class="col-2">faltan {{proveedor.Fecha}} días para entregar</p> <br>

									</div>
								{{/each}}
								</div>
							</div>
						</div>
					</div>

					<div class="row my-5">
						<div class="container container-title rnd" style="background-color: #fff;">
							<div class="title-font trd-title">Tareas en urgentes</div>
							<div style="padding: 20px;">
								<div class="container-fluid">
								{{#each Urgente}}
									<div class="row">
								 <p class="col-5 urgente">Calibracion de instrumentos</p><a class="card-content-gen ml-xl-5 col-2" href="/VistaPrueba/tabla/{{proveedor.proveedor}}"> {{Fecha}}</a> <p class="col-4">faltan {{proveedor.Fecha}} días para entregar</p> <br>

									</div>
								{{/each}}
								</div>
							</div>
						</div>
					</div>

					<div class="row my-5">
						<div class="container container-title rnd" style="background-color: #fff;">
							<div class="title-font snd-title">En curso</div>
							<div style="padding: 20px;">
								<div class="container-fluid">
								{{#each Curso}}
									<div class="row">
								 <p class="col-5 curso">Calibracion de instrumentos</p><a class="card-content-gen ml-xl-5 col-2" href="/VistaPrueba/tabla/{{proveedor.proveedor}}"> {{Fecha}}</a> <p class="col-4">faltan {{proveedor.Fecha}} días para entregar</p> <br>

									</div>
								{{/each}}
								</div>
							</div>
						</div>
					</div>
					{{!-- <div class="row">
						<div class="container container-title rnd" style="background-color: #fff;">
							<div class="title-font fst-title">Tickets</div>
							<div style="padding: 20px;">
								{{#if cPedidos}}
								{{#each cPedidos}}
							
								<a class="card-content-gen ml-xl-5" href="/VistaPrueba/tickets/tabla/{{cPedido}}">{{cPedido}}</a> <br>           						       
								{{/each}}           
								{{else}}
								<p class="card-content-gen ml-xl-5">No hay ningún ticket</p>
								{{/if}}	

							</div>
						</div>
					</div> --}}
				</div>

				<div class="col-xl-5 gy-5">
					<div class="row">
						<div class="container rnd" style="background-color: #fff !important; padding: 0px;">
							<div class="svg-items">
								 <div class="svg-item">
								 	<svg width="100%" height="100%" viewBox="0 0 40 40" class="donut">
								 		<circle class="donut-hole" cx="20" cy="20" r="15.91549430918954" fill="#fff"></circle>
								 		<circle class="donut-ring" cx="20" cy="20" r="15.91549430918954" fill="transparent" stroke-width="3.5"></circle>
								 		<circle class="donut-segment donut-segment-2" cx="20" cy="20" r="15.91549430918954" fill="transparent" stroke-width="3.5" stroke-dasharray="10 90" stroke-dashoffset="25"></circle>
								 		<g class="donut-text donut-text-1">

								 			<text y="50%" transform="translate(0, 2)">
								 				<tspan x="50%" text-anchor="middle" class="donut-percent">10%</tspan>   
								 			</text>
								 			<text y="60%" transform="translate(0, 2)">
								 				<tspan x="50%" text-anchor="middle" class="donut-data">Porcentaje de avance</tspan>   
								 			</text>
								 		</g>
								 	</svg>
								 </div>
								 <div class="svg-item">
								 	<svg width="100%" height="100%" viewBox="0 0 40 40" class="donut">
								 		<circle class="donut-hole" cx="20" cy="20" r="15.91549430918954" fill="#fff"></circle>
								 		<circle class="donut-ring" cx="20" cy="20" r="15.91549430918954" fill="transparent" stroke-width="3.5"></circle>
								 		<circle class="donut-segment donut-segment-3" cx="20" cy="20" r="15.91549430918954" fill="transparent" stroke-width="3.5" stroke-dasharray="30 70" stroke-dashoffset="25"></circle>
								 		<g class="donut-text donut-text-2">

								 			<text y="50%" transform="translate(0, 2)">
								 				<tspan x="50%" text-anchor="middle" class="donut-percent">30%</tspan>   
								 			</text>
								 			<text y="60%" transform="translate(0, 2)">
								 				<tspan x="50%" text-anchor="middle" class="donut-data">Tickets</tspan>   
								 			</text>
								 		</g>
								 	</svg>
								 </div>

								 {{!-- 
								 <div class="svg-item">
								 	<svg width="100%" height="100%" viewBox="0 0 40 40" class="donut">
								 		<circle class="donut-hole" cx="20" cy="20" r="15.91549430918954" fill="#fff"></circle>
								 		<circle class="donut-ring" cx="20" cy="20" r="15.91549430918954" fill="transparent" stroke-width="3.5"></circle>
								 		<circle class="donut-segment donut-segment-4" cx="20" cy="20" r="15.91549430918954" fill="transparent" stroke-width="3.5" stroke-dasharray="25 75" stroke-dashoffset="25"></circle>
								 		<g class="donut-text donut-text-3">

								 			<text y="50%" transform="translate(0, 2)">
								 				<tspan x="50%" text-anchor="middle" class="donut-percent">25%</tspan>   
								 			</text>
								 			<text y="60%" transform="translate(0, 2)">
								 				<tspan x="50%" text-anchor="middle" class="donut-data">% Proyecto</tspan>   
								 			</text>
								 		</g>
								 	</svg>
								 </div> --}}
							</div>
						</div>
					</div>
					<div class="row py-4">
						<div class="container rnd" style="background-color: #fff; padding: 0px;">
							<div id="calendar" class="rnd"></div>	
						</div>
					</div>
					<div class="row justify-content-center py-2">
						<a  data-toggle="modal" data-target="#modalCalendario"  type="button" class="button btn btn-ekide d-none d-lg-block">Expandir</a>
					</div>
					{{!-- <div class="row mb-5">
						<div class="container rnd" style="background-color: #fff;">
							<div class="row">
								<div class="contact-title py-2">
									<img src="/assets/phone.png" alt="Telicon"> <a class="pl-2">Contacto</a> </img>

								</div>
							</div>
							<div class="row">
								<div class="contactln"> </div>
							</div>
							<div class="row justify-content-center contact-card py-4 mx-2">
								• 442 290 5700
								<br>
								• Calle B, Lote 85, Modulo 1,Parque Tecnológico Innovación , 76246 Qro.
							</div>
						</div>
					</div>
										<div class="row justify-content-center py-2">
						<a  data-toggle="modal" data-target="#staticBackdrop"  type="button" class="button btn btn-ekide d-none d-lg-block">Agregar numeros de pedidos</a>
					</div> --}}
				</div>

			</div>
		</div>
	</div>
<!-- Modal -->

<script src="/js/VistaPrueba/simpleCalendar.js" ></script>

{{!-- <script src="/js/VistaPrueba/PC.js" ></script> --}}
 
  <footer class="footer">
    <style>
      .orange{
          background-color: #FE891A;
          margin: 0px !important ;
          color: white;
      }
    </style>
    <div class="container-fluid orange text-right .footer">
        <p>Soft Oil/SGM V 2.1.1 /2022 Todos los derechos reservados</p>
    </div>
  </footer>
