
{{>navVistaPrueba}}

<div>
  {{>sideNavVistaPrueba}}

</div>

  <div id="mainwin">
    <div class="container">
        {{!-- <div class="row" style="position: sticky !important; top: 0px !important; z-index: 1000">
        <div class="col">
          <div  class="row d-flex justify-content-center">
            <input class="text-center form-control me-2 gy-4 search-b"  id="search" type="search" placeholder="Search" aria-label="Search">
          </div>
        </div>
        <div class="col">
          <div class="row"> 
            <button type="button" id="botonModal"  class="btn btn-ekide mt-4"  data-bs-toggle="modal" data-bs-target="#exampleModal"> Agregar cantidad a pedidos </button></div>
        </div>
      </div> --}}
      <div class="row">
        <div class="container gy-5 descTable rnd" style="background-color: #fff">
          <div class="row">
            <div class="col-6 col-xl-12">
              <div class="row">
                <div class="col-12 col-xl py-xl-3 tableTitl tableLin rnd">Tarea</div>
                {{!-- <div class="col-12 col-xl py-xl-3 tableTitl tableLin rnd descTitlProv">Descripción de la Tarea</div> --}}
              </div>
            </div>
            <div class="col-6 col-xl-12">
                <h1>{{codigoPedido:}}</h1>
              <div class="row tableSep" >
                <div id="id" class="col-12 col-xl mt-xl-3 p-xl-2 tableLin">{{Tarea}}</div>
                {{!-- <div class="col-12 col-xl mt-xl-3 p-xl-2 tableLin descLin fstCap">{{descripcion}}</div> --}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        {{#each tareas}}
        {{!-- {{#each this}} --}}
        <div id="tabla_{{@index}}"  class="tabla container gy-5 rnd " style="background-color: #fff " >
          <div class="row">
            <div class="col-6 col-xl-12">
              <div class="row">
                <div  class="col-12 col-xl py-xl-3 tableTitl tableLin rnd" >Tarea</div>
                <div class="col-12 col-xl py-xl-3 tableTitl tableLin rnd descTitlProv2 fstCap">Descripción Línea de Pedido</div>
                <div class="col-12 col-xl py-xl-3 tableTitl tableLin rnd">Fecha</div>
                <div class="col-12 col-xl-2 py-xl-2 tableTitl tableLin rnd">Validar</div>
                <div class="col-12 col-xl-2 py-xl-2 tableTitl tableLin rnd">Descargar</div>

              </div>
            </div>
            <div class="col-6 col-xl-12 bodyTable">
              <div class="row tableSep" id="{{@index}}" >
                <div  class="col-12 col-xl mt-xl-3 p-xl-2 tableLin" id="proyecto_{{@index}}">{{tarea}}</div>
                <div class="col-12 col-xl mt-xl-3 p-xl-2 tableLin descLin2 fstCap" id="Pedido_{{@index}}">{{descTarea}}</div>
                <div class="col-12 col-xl mt-xl-3 p-xl-2 tableLin">{{date}}</div>
                <div class="col-12 col-xl-2 mt-xl-2 p-xl-2 tableLin"><button type="button" id="{{descTarea}}" id-file="{{id_File}}" data-id="{{id}}"  data-bs-toggle="modal" data-bs-target="{{modalPDFTask tarea}}" class="btn btn-ekide btn-sm btnValidar">Validar</button></div>
                <div class="col-12 col-xl-2 mt-xl-2 p-xl-2 tableLin"><button type="button" id="{{id_File}}" data="{{id}}" name="1" class="btn btn-ekide btn-sm {{modalPDFTaskButton tarea}}">PDF</button></div>
               
                
              </div>
            </div>
          </div>
        </div>
        {{!-- {{/each}} --}}
        {{/each}}
      </div>           


<div class="modal fade" id="Validar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="ValidarLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ValidarLabel">Validación</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <input type="checkbox" aria-label="Checkbox for following text input">
            </div>
          </div>
          <input type="text" readonly value="Req. SAT" class="form-control" aria-label="Text input with checkbox">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <input type="checkbox" aria-label="Checkbox for following text input">
            </div>
          </div>
          <input type="text" readonly value="Req.CRE" class="form-control" aria-label="Text input with checkbox">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <input type="checkbox" aria-label="Checkbox for following text input">
            </div>
          </div>
          <input type="text" readonly value="Req. PMX" class="form-control" aria-label="Text input with checkbox">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <input type="checkbox" aria-label="Checkbox for following text input">
            </div>
          </div>
          <input type="text" readonly value="Req. SS" class="form-control" aria-label="Text input with checkbox">
        </div>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Descripción del Requisito de la norma</span>
            </div>
            <textarea class="form-control" aria-label="Descripción del Requisito de la norma"></textarea>
          </div>
          <br>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Documento que satisface el requisito </span>
            </div>
            <textarea class="form-control" aria-label="Documento que satisface el requisito "></textarea>
          </div>
          <br>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Evidencias objetivas / observaciones </span>
            </div>
            <textarea class="form-control" aria-label="Evidencias objetivas / observaciones "></textarea>
          </div>
          <br>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <input type="checkbox" aria-label="Checkbox for following text input">
              </div>
            </div>
            <input type="text" readonly value="Cumple si o no" class="form-control" aria-label="Text input with checkbox">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" id="fTask" data-bs-dismiss="modal">Terminar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="PDFCreator" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="PDFCreatorLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="PDFCreatorLabel">Validación</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
                          <div class="input-group has-validation">
          <span class="input-group-text" id="inputGroupPrepend">Producto:</span>
          <input type="text"   class="form-control" value="" id="Producto" aria-describedby="inputGroupPrepend" required>
        </div>
        <br>
                          <div class="input-group has-validation">
          <span class="input-group-text" id="inputGroupPrepend">No. Registro:</span>
          <input type="text"   class="form-control" value="" id="nRegistro" aria-describedby="inputGroupPrepend" required>
        </div>
        <br>
                          <div class="input-group has-validation">
          <span class="input-group-text" id="inputGroupPrepend">Objeto:</span>
          <input type="text"   class="form-control" value="" id="Objeto" aria-describedby="inputGroupPrepend" required>
        </div>
        <br>
                          <div class="input-group has-validation">
          <span class="input-group-text" id="inputGroupPrepend">Volumen (lts): </span>
          <input type="text"   class="form-control" value="" id="lts" aria-describedby="inputGroupPrepend" required>
        </div>
        <br>
                          <div class="input-group has-validation">
          <span class="input-group-text" id="inputGroupPrepend">Volumen (bbls):</span>
          <input type="text"   class="form-control" value="" id="bbls" aria-describedby="inputGroupPrepend" required>
        </div>
        <br>
                          <div class="input-group has-validation">
          <span class="input-group-text" id="inputGroupPrepend">Fecha de emisión de dictamen:</span>
          <input type="date"   class="form-control" value="" id="FED" aria-describedby="inputGroupPrepend" required>
        </div>
        <br>
                          <div class="input-group has-validation">
          <span class="input-group-text" id="inputGroupPrepend">Fecha análisis:</span>
          <input type="date"   class="form-control" value="" id="FA" aria-describedby="inputGroupPrepend" required>
        </div>
        <br>
                          <div class="input-group has-validation">
          <span class="input-group-text" id="inputGroupPrepend">Fecha muestreo:</span>
          <input type="date"   class="form-control" value="" id="FM" aria-describedby="inputGroupPrepend" required>
        </div>
        <br>
                          <div class="input-group has-validation">
          <span class="input-group-text" id="inputGroupPrepend">Fecha de obtención de resultados:</span>
          <input type="date"   class="form-control" value="" id="FOR" aria-describedby="inputGroupPrepend" required>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" id="fPDFTask" data-bs-dismiss="modal">Terminar</button>
      </div>
    </div>
  </div>
</div>
<script src="/js/VistaPrueba/imprimirTabla.js"></script>
